body {
  display: flex;
  background: #f0f0f0;
  margin-top: 125px;
  align-items: center;
  justify-content: center;
}
.main {
  width: 75%;
  height: 75%;
  background-color: hsl(30, 38%, 92%);
  border-radius: 2px;
  box-shadow: 3px 15px 15px 6px #d9dbda;
}
.card {
  width: 38%;
  height: 50%;
  margin: 10% 10% 10% 30%;
  display: flex;
  border-radius: 6px;
}
.image {
  border-radius: 6px 0px 0px 6px;
  width: 250px;
  height: auto;
}
.cardtext {
  display: flex;
  flex-direction: column;
  padding: 25px 30px 25px 25px;
  border-radius: 0px 6px 6px 0px;
  background-color: white;
  color: hsl(228, 12%, 48%);
}
.perfume {
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  letter-spacing: 3px;
}
.title {
  font-family: "Fraunces", sans-serif;
  font-style: bold;
  font-weight: 700;
  font-size: 28px;
  line-height: 28px;
  color: hsl(212, 21%, 14%);
  margin-bottom: 15px;
  padding-right: 35px;
}
.content {
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: hsl(228, 12%, 48%);
  margin-bottom: 20px;
  text-align: start;
}
.price {
  /* width: 30%; */
  font-family: "Fraunces", sans-serif;
  display: flex;
  font-size: 28px;
  color: hsl(158, 36%, 37%);
  margin-bottom: 20px;
}
.regprice {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  padding-top: 7px;
  padding-left: 20px;
  text-decoration: line-through;
  color: hsl(228, 12%, 48%);
}
button {
  display: flex;
  height: 45px;
  background-color: hsl(158, 36%, 37%);
  color: white;
  border: none;
  border-radius: 6px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 600;
  align-items: center;
  justify-content: center;
}
.icon {
  padding-top: 3px;
  padding-right: 15px;
}
